<!DOCTYPE html>
<html>
  <head>
    <!-- the title is shown in google search results and at the top of the browser -->
    <title>{{page.title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css" />

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Open+Sans:400,600" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/images/manifest.json" />
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />


    <!-- this links our stylesheet -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <!-- - - - - - - - HEADER - - - - - - - -->
  <header>
    <h1 class="editable">{{page.client}}</h1>
    <h2 class="editable">{{page.service}}</h2>
  </header>

  <section id="start">
    <!-- - - - - - - - objective - - - - - - - -->
    <h2>{{page.objective}}</h2>
    <p class="editable">{{page.objective-description}}</p>
    {% if item.objective-section %}
      <ul>
        {% for objective in item.objective-list %}
        <li>{{objective.list-item}}</li>
        {% endfor %}
      </ul>
    {% endif %}



    <!-- - - - - - - - what's included - - - - - - - -->
    <div class="grey-box">
      <h2>{{page.whats-included}}</h2>
      <ul>
        {% for include in item.includes %}
        <li>{{include.list-item}}</li>
        {% endfor %}
      </ul>
      <h3>{{page.notes}}</h3>
      <ul>
        {% for notes in item.notes-list %}
        <li>{{notes.list-item}}</li>
        {% endfor %}
      </ul>

      <h3>{{page.quote}}</h3>
      <h2>{{page.price}}</h2>
    </div>

  <!-- - - - - - - - process - - - - - - - -->
<!-- <h2>{{page.process}}</h2>
<div class="grid"> -->

<!-- <div class="col-6_sm-12 padded-col">
    <h6 class="absolute">1.</h6>
    <div class="relative">
    <h3>Let's start</h3>
    <p class="editable">In your case, once we decide on the website building platform that best suits your needs, I'll send you the first invoice,&nbsp;<em></em>the project <em>questionnaire</em> and a friendly contract. When everything is ready, I'll lock you in my calendar and we'll get hands-on with your project.</p>
  </div>
  </div>
  <div class="col-6_sm-12 padded-col">
    <h6 class="absolute">2.</h6>
    <div class="relative">
    <h3>Strategy: Let's get clear</h3>
    <h5>5 working days</h5>
    <p class="editable">I&rsquo;ll send you a personalised <em>questionnaire</em> that will help us be clear on the <strong>goals and functionalities</strong> of your business and website, as well as design references that we both have. After a 30-min Skype strategy call, we'll have a clear idea of the <strong>business needs </strong>and <strong>design inspiration</strong> for the website.</p>
  </div>
  </div>

  <div class="col-6_sm-12 padded-col">
    <h6 class="absolute">3.</h6>
    <div class="relative">
    <h3>Design: Let’s make it beautiful </h3>
    <h5>5 working days</h5>
    <p class="editable">With the goals and inspiration, I&rsquo;ll <strong>refine your current logo</strong> and prepare a <strong>design mock-up of the website</strong> for you to review.</p>
  </div>
  </div>

  <div class="col-6_sm-12 padded-col">
    <h6 class="absolute">4.</h6>
    <div class="relative">
    <h3>Development: Let’s make it real </h3>
    <h5>10 working days</h5>
    <p class="editable">After you approve the design, I&rsquo;ll <strong>build the website</strong> will all the features and functionalities. I&rsquo;ll put special emphasis on leaving room for you to add more and/or different content or sections and I will suggest blog categories that will contribute to better positioning on search engines.</p>
  </div>
  </div>

  <div class="col-6_sm-12 padded-col">
    <h6 class="absolute">5.</h6>
    <div class="relative">
    <h3>Review & Upload: Let's finalise it</h3>
    <h5>5 working days</h5>
    <p class="editable">I&rsquo;ll add all your <strong>content</strong> and transfer the old blog posts, and upload the website on a hidden domain for you to <strong>review</strong>. I&rsquo;ll also prepare a tutorial to teach you to update and upload content in the future (in case you don&rsquo;t purchase a maintenance add-on).</p>
  </div>
  </div>

  <div class="col-6_sm-12 padded-col">
    <h6 class="absolute">6.</h6>
    <div class="relative">
    <h3>Systems set-up: Let’s make it smooth</h3>
    <h5>5 working days</h5>
    <p class="editable">I&rsquo;ll set up Google Analytics, Mailchimp, Gmail for Business and a payment automation system. I&rsquo;ll map out a client onboarding system that helps lock in more customers and ease your workload, including the suggestion of canned responses and email automations on Mailchimp.</p>
  </div>
  </div> -->

</div>
    <!-- payment-->
    <h2>{{page.terms}}</h2>
    <ul>
      {% for terms in item.terms-list %}
      <li>{{terms.list-item}}</li>
      {% endfor %}
    </ul>

  </section>

  <!-- - - - - - - - FOOTER - - - - - - - -->
  <footer>
    <h2>{{page.contact}}</h2>
    <p>{{page.contact_description}}</p>
    <p><a href="mailto:angels@loveiscreative.com">angels@loveiscreative.com</a></p>
    <a href="http://loveiscreative.com"><img src="images/love-is-creative-logo.png" alt="love is creative logo" class="lic-logo" /></a>
  </footer>

  </body>
  </html>
